<!DOCTYPE html>
<html>
<head>
  <title>StoryTime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:alert] %>
  <%= flash[:notice] %>

  <div class="row navbar">
    <div class="two column" id ="home-btn">
      <a href="/">All stories</a>
    </div>
    <div class="ten column">
      Story Time
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
